body {

    background-color: #FFEEEE;
}

#container {

    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

#game {

    border: 2px solid #FFAABB;
}

#head-section {

    width: 720px;
    margin: 0 auto;
    margin-top: 40px;
}

#head-section h3 {

    position: relative;
    bottom: 30px;
    display: inline;
    font-family: "Comic Sans MS";
    font-size: 40px;
    color: #FFAABB;
    font-style: italic;
}

#head-section img {

    margin: 0px 20px;
    width: 90px;
}

#restart {

    display: block;
    border: 3px solid #FFAABB;
    color: #FFAABB;
    background-color: #FFFFFF;
    font-family: "Comic Sans MS";
    font-size: 25px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
}

#lost-message {

    font-family: "Comic Sans MS";
    font-size: 20px;
    color: #FF2233;
    font-style: italic;
    margin: 0 auto;
    margin-top: 10px;
}